<h2>Bank Chat Service</h2>
<div id="chat-box"></div>

<form id="chat-form">
  <input type="text" placeholder="Username" id="user-name" />
  <textarea placeholder="How can I help you" id="user-text"></textarea>
  <button type="submit">Post</button>
</form>
