<h2>Community Chat Service</h2>
<div id="chat-box">
  <%= for message <- @messages do %>
    <p><b><%= message.user %>:</b> <%= message.body %> </p>
  <% end %>
</div>

<form id="chat-form">
  <input type="text" placeholder="Username" id="user-name" />
  <textarea placeholder="How can I help you" id="user-text"></textarea>
  <button type="submit">Post</button>
</form>
