/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

#chat-box {
  border: 1px #ccc solid;
  padding: 0 0 0 5px;
  min-height: 157px;
  max-height: 225px;
  overflow: scroll;
}

#chat-form {
  margin-top: 1rem;
  width:760px;
}

#chat-form input[type="text"] {
  width: 250px;
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

#chat-form textarea {
  width: 760px;
  min-height: 150px;
  padding: 2rem;
  border: 1px solid #ccc;
  margin-top: 1rem;
}
